.inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(circle at 30% 20%, #d2b48c, #a97458, #3e2a19);
    font-family: "Poppins", sans-serif;
    color: #fff;
  }
  
  .conteudo-inicio {
    margin-top: 300px;
    text-align: center;
  
    h1 {
      font-size: 2.5rem;
      font-weight: 700;

      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      animation: fadeIn 1s ease;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }